/* contact.css */

:root {
    --primary-color: #6366f1;
    --secondary-color: #4f46e5;
    --accent-color: #34d399;
    --background-color: #f3f4f6;
    --text-color: #1f2937;
    --light-text: #6b7280;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* Ajuste la hauteur selon les besoins */
}

h2 {
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact-form {
    max-width: 50vw;
    /* Ajuste la largeur maximale du formulaire */
    width: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-weight: 400;
    color: var(--light-text);
    display: block;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Pour que le bouton prenne toute la largeur du parent */

}

button:hover {
    background-color: var(--primary-color);
}

.success-message {
    color: green;
    margin-top: 1rem;
}

.error-message {
    color: red;
    margin-top: 1rem;
}


@media (max-width: 768px) {

    .contact-form {
        max-width: 80vw;
        /* Ajuste la largeur maximale du formulaire */
        width: 100%;
        background-color: white;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

}